@model IEnumerable<ShelterAPI.Models.Pet>

@{
	ViewBag.Title = "Cats";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h-serif-flex"><img class="icon-sub-content" src="~/Content/Icons/cat-face-icon.png" alt="dog-icon" width="45" height="45">&emsp;<strong>Cats</strong></h1>
<br />
<br />

@if (!Model.Any())
{
	<p>We don't have any cats!</p>
}
else
{
	<div class="row">
		@foreach (var pet in Model)
		{
			<div class="col-xs-12 col-sm-6 col-lg-4">

				<img class="profile-content-right" src="~/PetPics/@pet.PhotoPath" alt="@pet.PetName Photo" height="200" width="300">
				<div class="inner-profile-content">
					<div class="text-inner-profile-content">
						<h2>@pet.PetName</h2>
						<p>In shelter from @pet.AddedDate.Value.ToShortDateString()</p>
						<input type="button" class="btn btn-info" value="Adopt" onclick="location.href='@Url.Action("Details", "Pets",new { id = pet.Id }, null)'" />
					</div>
				</div>
			</div>
		}
	</div>
}